<mat-card class='card-section'>
    <mat-card-title>Angular multi-tenant single-page application</mat-card-title>
    <mat-card-subtitle>Sign-in to see who else is in your tenant</mat-card-subtitle>
    <mat-card-content>This sample demonstrates how to use the Microsoft Authentication Library for Angular (MSAL Angular) to create and serve a multi-tenant application that can sign-in users from any tenant and display other users that belong to their tenant.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="loggedIn" [routerLink]="['tenant']">Get users</button>
    </mat-card-actions>
    <mat-card-content></mat-card-content>
</mat-card>