<mat-card class='card-section'>
  <mat-card-title>This Application will migrate your zoom deatils and set this up in microsoft teams</mat-card-title>
  <mat-card-subtitle>As a user, you need to sign in and provide consent for your to properly integrate into zoom and teams</mat-card-subtitle>
  <mat-card-subtitle>Log in using your Microsoft 365 credentials</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button *ngIf="loggedIn" [routerLink]="['migration-view']">Continue Migration</button>
  </mat-card-actions>
  <mat-card-content></mat-card-content>
</mat-card>